*{
    margin: 0;
    padding: 0;
}
body {
    /*background-image: url("../img/pexels-veeterzy-580897.jpg");*/
    background:radial-gradient(#fff,#86d9ff2b);
    background-repeat: no-repeat;
    background-position: center;

}
.logo{
    display: flex;
    align-items:center;
    justify-content: left;
    width:70px;
    height:70px;
}
.logo img{
    width:70%;
    /* padding: 10px; */
}
@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
.logo:hover {
    animation-name: spinning;
    background-repeat:no-repeat;
    animation-duration: 0.2s;
    animation-delay:0s;
    position:relative;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
.sticky{
    position:fixed;
    z-index:1;
    overflow: hidden;
    top: 0;
    width: 100%;
}
.navbar{
     display: flex;
     height:60px;
}
.nav-list{
    width:50%;
    display:flex;
    align-items:center;
    padding:5px 13px;
}
.nav-list li{
    list-style:none;
    padding: 20px 25px;
}
.nav-list li:hover{
    background-color:grey;
}
.nav-list li a{
    text-decoration: none;
    color:white;
    
}
.nav-list li a:hover{
    color:orange;
}
.rightnav{
    padding: 30px;
    width: 50%;
    text-align: center;
}
#search{
    border-radius: 7px;
    font-size:17px;
    padding:3px;    
}

.rightnav button{
    padding:3px;
    color:black;
    background-color: #98e9da;
    border-radius: 7px;
}
.rnav-search-box{
    margin-top:-13px;
}
.rightnav button:hover{
    color:red;
    width:60px;
    height:30px;
}
.background{
    background:rgb(22, 21, 21);
    background-size:cover;
    background-blend-mode: darken;
}
.firstbox{
    display:flex;
}
.mno{
    width:50%;
    font-weight:700;
    text-align:center;
}
.email{
    text-align:center;
    width:50px;
    font-weight:700;
    margin:0px 150px;
}
.reg-log {
    background-color: #4e67eb;
    height: 35px;
    width: 150px;
    border-radius: 9px;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-left: 118px;
    margin-top: 20px;
}
.reg-log:hover{
    padding:9px 9px 9px 9px;
}
.reg-log a{
    text-decoration: none;
}
.reg-log-button h3{
    margin-top:6px;
    color:white;
}
.reg-log-button h3:hover{
    color:green;
}
.secondsection{
    /* background-image:url("../img/bg1.jpg"); */
    /* background:rgba(0,0,0,.18); */
    margin-top:100px;
}
.s_firstbox{
    display:flex;
}
.s_text{
   font-size:xx-large;
   margin-top:40px;
   margin-left:200px;
}
.s_firstbox img{
    margin: 0px 40px;
    width: 10%;
}
.changecolor{
    animation-name:changecol;
    animation-duration:14s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    position:relative;
}
@keyframes changecol{
    0% {color:rgb(70, 104, 104);}
    25% {color:blue;}
    50% {color:black;}
    75% {color:green;}
    100% {color:red;}
}
.s_text p{
    font-size: large; 
    margin-top:15px;
    margin-left:-64px;
    animation-name:run;
    animation-duration:7s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    position:relative;
}
@keyframes run{
    0% {color:rgb(70, 104, 104);left:-100px;top:0px;}
    25% {color:blue;left:0px;top:0px}
    50% {color:black;left:100px;top:0px;}
    75% {color:green;left:0px;top:0px;}
    100% {color:red;left:-100px;top:0px;}

}
.s_secondbox{
    display:flex;
}
#slider img{
    box-shadow: 6px 6px lightgoldenrodyellow;
}
.important-links{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.important-links h3{
    text-transform:uppercase;
    width:400px;
    color:#8199A9;
    border-bottom:5px solid #8199A9;
    margin:25px 0 20px 20px;
    padding: 0 0 8px 0;
    text-align:start;
}
.implink-list li{
    margin:10px 0 0 0;
}
.img1{
    float:left;
}
.latest-news{
    float:right;
    width:355px;
    color:red;
}
.latest-news a{
    text-decoration:none;
    color:darkred;
}
.brline{
    border-bottom: 1px solid #D7DBE0;
    margin:40px 0 0 0;
}
.clickformore1{
    margin:10px 0 0 0;
    border-bottom:1px solid #D7DBE0;
     text-align:right;
}
.clickformore1 a{
    text-decoration: none;
    color:#591F58;
    font-weight:bold;
}
.clickformore{
    text-align: right;
    margin: 40px;
}
.clickformore a{
    text-decoration: none;
    color:#591F58;
}
.s_s_firstslot {
    text-align:center;
    margin-top:200px;
}
.s_s_firstslot p{
    text-align:center;
    margin-top:20px;
    margin-right:30px;
    border-style:inset;
    border-color: gold;
    border-width: 9px;
    box-shadow:2px 2px grey;
}
.s_s_firstslot p:hover{
    box-shadow: 5px 5px 5px lightgreen;
    padding: 5px 5px;

}
.s_s_line{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}
.line1{
    border-style: solid;
    width: 73px;
    border-color: yellow;
    margin-top: 5px;
    margin-left: 250px;
}
.manage-election p{
    font-size:xxx-large;
    margin-bottom:30px;
    color:#591F58;
}
.manage-election a{
    font-size:xx-large; 
    text-decoration:none;
    margin:20px 0 20px 0;
    padding:5px 20px 5px 20px;
    border:1px solid red;
    background-color:red;
    color:white;
    border-radius: 100px; 
}
.manage-election a:hover{
    color:orange;
    border:1px solid green;
    background-color: green;
    padding:1px 10px 1px 5px;
}
.manage-election{
    text-align:center;
    margin:45px 0 45px 0;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.border{
    width:1300px;
    color: #591F58;
    border-bottom:5px solid #8199A9;
    margin:25px 0 20px 20px;
    padding: 0 0 8px 0;
}
.ourclient-text{
    font-size:xx-large;
    color:black;
    margin-left:555px;
    margin-right:570px;
    border-bottom:5px solid#591F58;
}
.ourclient-img{
    width:1000px;
    margin:30px 148px;
}
.fifthsec{
    background-color:#bfb1b14d;
    padding:20px;
    width:95%;
    margin-left:13px;
    margin-bottom:70px;
}
.meet_our_team{
    text-align:center;
}
.folks_fourth_sec{
    text-align:center;
}
.rachit-intro{
    width:260px;
    margin-left:80px;
    margin-right:50px;
    margin-top:35px;
    background-color:rgb(204, 175, 180);
    padding:10px;
}
.rachit-intro:hover{
    padding:20px;
}
.rachit-intro img{
    border-radius:100px;
    margin-left:27px;
}
.rachit-intro h3{
    text-align:center;
}
.rachit-intro h5{
    text-align:center;
}
.rachit_fourthsec{
    display:flex;
}
.bottom{
    background:rgb(8 8 8 / 88%);
    padding:25px;
}